<section id="form1-l" style="background-color: rgb(255, 255, 255); padding-top: 10px; padding-bottom: 10px;">

    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-lg-12">
                    <p>
                        <h3>La instalación se ha ejecutado con éxito</h3>
                    </p>
                    <hr>
                    <p>
                        La base de datos ha sido creada y ya puedes autenticarte en el sistema. El usuario administrador tiene como nombre de usuario
                        <b>admin</b> y contraseña <b>admin. 
                        <br>
                        Se recomienda modificar la contraseña en la sección del perfil del usuario</b>
                    </p>
                </div>
            </div>
        </div>
</section>