<section id="form1-l" style="background-color: rgb(255, 255, 255); padding-top: 10px; padding-bottom: 10px;">

    <div class="mbr-section mbr-section-nopadding">
        <div class="container">
            <div class="row">
                <div class="col-xs-8 col-lg-12">
                    <p>
                        <h3>Bienvenido/a</h3>
                    </p>
                    <hr>
                    <p>
                        Bienvenido/a al proceso de instalación de Fotolog, se procederá a configurar la base de datos.
                    </p>


                    <p>
                        <h3>Información necesaria</h3>
                        <hr>
                        <p>
                            <p>Fotolog trabaja con una base de datos que debe residir en un servidor MySQL, por tanto, se necesita la siguiente información:</p>
                            <ul>
                                <li> Nombre del servidor de base de datos</li>
                                <li> Nombre de la base de datos</li>
                                <li> Usuario de la base de datos</li>
                                <li> Contraseña del usuario de la base de datos</li>
                            </ul>
                        </p>

                        <p>Si dispone de la información solicitada continúa con el siguiente paso pulsando sobre el botón Siguiente </p>
                        <a href="/config/paso2">
                            <button type="button" class="btn btn-success">Siguiente</button>
                        </a>



                </div>
            </div>
        </div>
</section>