<div class="breadcrumbs">
    <a href="/">Inicio</a> &nbsp;/&nbsp; <a href="/users">Listado de usuarios</a> &nbsp;/ Permisos de
    <%=user.nombre %>
        <%=user.apellido1 %>
            <%=user.apellido2 %> &nbsp;
</div>