<div class="row-fluid">
    <div class="span12" id="divMain" style="margin-left:30px;">


        <div class="errorContainer">

            <% if(error.status==404) { %>
                <div id="errorTitle">404</div>
                <br>
                <br>

                <p>
                    Oppss .... lo sentimos, la página solicitada no existe.
                </p>
                <% } %>
        </div>
    </div>
</div>