<div class="row-fluid">
    <div class="span12" id="divMain" style="margin-left:30px;">
        <div class="errorContainer">
            <div id="errorTitle">Error</div>
            <br>
            <br>
            <br>
            <p>
                <%=message%>
            </p>

        </div>
    </div>
</div>