<li class="dropdown">
    <a href="#" class="dropdown-toggle"><%= __ ('usuarios')%> <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/user/new"><%= __ ('nuevo')%></a></li>
        <li><a href="/users"><%= __ ('usuarios')%></a></li>

    </ul>
</li>