<li class="dropdown">
    <a href="#" class="dropdown-toggle"><%= __ ('videos')%> <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="/videoteca/nueva"><%= __ ('nuevo')%></a></li>
        <li><a href="/videotecas"><%= __ ('tus_videotecas')%></a></li>
    </ul>
</li>