<li class="dropdown">
    <a href="#" class="dropdown-toggle"><%= __ ('album')%><b class="caret"></b></a>
   
    <ul class="dropdown-menu">
        <li><a href="/album/create"><%= __ ('nuevo')%></a></li>
        <li><a href="/album/admin"><%= __ ('tus_albumes')%></a></li>

    </ul>
</li>