<li class="dropdown">
    <a href="#" class="dropdown-toggle"><%= __ ('idioma')%> <b class="caret"></b></a>
    <ul class="dropdown-menu">

        <li><a href="#" onclick="urlFacade.recargarPantallaIdioma('es');"><%= __ ('espanol')%></a></li>
        <li><a href="#" onclick="urlFacade.recargarPantallaIdioma('en');"><%= __ ('ingles')%></a></li>

    </ul>
</li>