
    <span id="cerrar" class="close cursor" onclick="ShowFotoLightBoxFacade.close();">&times;</span>
    <div class="modal-content-lightbox">
                <div class="mySlides" style="display:block;">
                    <div class="numbertext">
                        <span id="fotoActual"></span> /<span id="totalFotos">300</span>
                            
                    </div>
                    <img id="imagen" src="" style="width:100%">
                </div>
                <a class="prev" onclick="ShowFotoLightBoxFacade.avanzar(-1)">&#10094;</a>
                <a class="next" onclick="ShowFotoLightBoxFacade.avanzar(1)">&#10095;</a>

                <div class="caption-container">
                    <p id="caption"></p>
                </div>
    </div>
