<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap/css/bootstrap.min.css">
</head>

<body>

    <!-- Autenticación -->
    <div style="width:50%;margin:0 auto 0 auto;">
        <h4 class="modal-title" style="text-align:center;">Autenticación</h4>
        <form action="" onsubmit="return false;">
            <div class="content">
                <div class="form-group">
                    <label for="login">Nombre de usuario:</label>
                    <input type="text" size="30" class="form-control" id="username" name="username" placeholder="Nombre de usuario" required="required" autofocus>
                </div>

                <div class="form-group">
                    <label for="login">Contraseña:</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required="required">
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn btn-success" onclick="loginFacade.autenticar();">Aceptar</button>

            </div>
        </form>
    </div>

    <script type="text/javascript" src="/javascripts/vendor/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/vendor/notify/notify.min.js"></script>
    <script type="text/javascript" src="/javascripts/notify/MessagesNotificationArea.js"></script>
    <script type="text/javascript" src="/javascripts/facade/user/LoginFacade.js"></script>

    <!-- Autenticación -->
</body>

</html>